<% provide(:title, "Order history") %>
<h1>Your Order History</h1>

<% @orders.each do |o| %>
  Ordered <%= link_to o.service.name, service_path(o.service_id) %> on <%= o.updated_at %> for $<%= "%.2f" % o.price %>.
  <% if o.status == :cancelled %>
    Cancelled
  <% elsif o.review.nil? %>
    Write a review
  <% else %>
    Rated <%= o.review.rating %> out of 5.
  <% end %>
  <p>
<% end %>